<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title text="Titolo"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />

    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/js/environments.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>



    <link href="/css/custom.css"
          th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/head"></div>

    <div class="container" ng-app="fantalegheEV" ng-controller="HomeController">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <label>League name</label>
                    <input class="form-control" id="league_name" ng-model="league_name" ng-keyup="show_error = false" type="text"/>
                </div>
            <div class="row">
                <div id="error-msg" class="col-md-10 alert alert-danger" ng-show="show_error">
                    {{error_message}}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <button id="calculate" class="btn btn-primary" ng-click="calculate()">Calculate</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12" ng-hide="table_content.length == 0">
                    <table class="table table-condensed">
                        <th>Team</th><th>Expected points</th><th>Points</th><th>Difference</th>
                        <tr ng-repeat="row in table_content">
                            <td>{{row.team}}</td><td>{{row.evPoints | number:2}} </td><td>{{row.points}}</td><td>{{(row.points - row.evPoints) | number:2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
